/*WOOCOMMERCE CSS*/

body.interfeis .woocommerce-result-count{line-height:32px;}
body.interfeis .woocommerce-ordering{margin-bottom:20px;}
body.interfeis .woocommerce-message{
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

body.interfeis .products.row{ margin:0px -10px !important;}
body.interfeis .products .product.columns{ margin:0px 0px 20px 0px !important; padding:0px 10px !important;}
body.interfeis .products .product.three.columns{width:25% !important;}
body.interfeis .products .product.four.columns{width:33.333% !important;}

body.interfeis .products .product a img{
	box-shadow:0px 0px !important;
	margin:0px !important;
}
body.interfeis .products .product span.onsale, body.interfeis .quickview-container span.onsale {
height: 54px;
width: 54px;
padding: 0px;
text-indent:-9999px;
position: absolute;
top: 0px;
right:auto !important;
left: 0px;
margin: 0 !important;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background: transparent url(../images/sale.png) no-repeat 0px 0px;
text-shadow: 0 0;
-webkit-box-shadow: 0px 0px;
-moz-box-shadow: 0px 0px;
box-shadow: 0px 0px;
}
body.interfeis a.button.added:before,body.interfeis button.button.added:before,body.interfeis input.button.added:before,body.interfeis #respond input#submit.added:before,body.interfeis #content input.button.added:before,body.interfeis a.button.added:before,body.interfeis button.button.added:before,body.interfeis input.button.added:before,body.interfeis #respond input#submit.added:before,body.interfeis #content input.button.added:before{background:url(../images/success.png) no-repeat; }
body.interfeis #subbody .products .product .ptext{
	padding:15px 10px 15px 15px;  
	text-align:left; 
	border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1); box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1); }
body.interfeis #subbody .products .product h3{font-weight:700; line-height:20px; font-size:14px; padding:5px 0px 0px 0px; margin:0px; text-align:left;}
body.interfeis #subbody .products .product p{margin:0px;}
body.interfeis #subbody .products .product .imgbox img{opacity:1; transition:opacity .3s ease-in-out; -webkit-transition:opacity .3s ease-in-out; -moz-transition:opacity .3s ease-in-out; 
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;}
body.interfeis #subbody .products .product:hover .imgbox img{opacity:0.55;}
body.interfeis #subbody .products .product .imgbox a{box-shadow:0px 0px; -moz-box-shadow:0px 0px; -webkit-box-shadow:0px 0px;}
body.interfeis #subbody .products .product h3 a{background:none;}
body.interfeis #subbody .products .product .imgbox a.imglink{background:transparent; border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; -moz-border-radius:5px 5px 0px 0px;}
body.interfeis #subbody .products .product .imgbox a.button{position:absolute; top:22%; left:25px; width:84px; height:120px; padding:0px;
text-align:center;
text-transform:uppercase;
font-size:12px;
font-weight:normal;
color:#fff;
background:none;
border:0px;
opacity:0;
box-shadow:none !important; -moz-box-shadow:none !important; -webkit-box-shadow:none !important;
transition:opacity .3s ease-in-out; 
-moz-transition:opacity .3s ease-in-out; 
-webkit-transition:opacity .3s ease-in-out; 
-o-transition:opacity .3s ease-in-out;
}
body.interfeis #subbody .products .product .imgbox a.button.loading, body.interfeis #subbody .products .product .imgbox a.button.loading:before {background-color:transparent !important;}
body.interfeis #subbody .products .product .imgbox a.button.added:before{visibility:hidden;}
body.interfeis #subbody .products .product .imgbox a.btm.button{left:auto; right:25px;}
body.interfeis #subbody .products .product .imgbox a.onebutton.button{left:50%; margin-left:-37px;}
body.interfeis #subbody .products .product:hover .imgbox a.imglink{background:#000;}
body.interfeis #subbody .products .product:hover .imgbox a.button{opacity:1;}
body.interfeis #subbody .products .product:hover .imgbox a.button:hover em{border:2px solid #0099cb; background-color:rgba(0,153,203,0.3);}
body.interfeis #subbody .products .product .imgbox a.button em{
	display:block;
	margin:0px 0px 8px 0px;
	width:80px; height:80px;
	background-repeat:no-repeat;
	background-position:center;
	border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
	border:2px solid #fff;
	background-color:rgba(255,255,255,0);
	transition:border .3s ease-in-out, background-color .3s ease-in-out; 
	-moz-transition:border .3s ease-in-out, background-color .3s ease-in-out; 
	-webkit-transition:border .3s ease-in-out, background-color .3s ease-in-out; 
	-o-transition:border .3s ease-in-out, background-color .3s ease-in-out;
}
body.interfeis #subbody .products .product .imgbox a.button em.icon-if-quickview{background-image:url(../images/icons/product/icon-quickview.png);}
body.interfeis #subbody .products .product .imgbox a.button em.icon-if-addtocart{background-image:url(../images/icons/product/icon-addtocart.png);}
body.interfeis #subbody .products .product .imgbox a.button em.icon-if-link{background-image:url(../images/icons/product/icon-link.png);}
body.interfeis #subbody .products .product .imgbox a.button em.icon-if-list{background-image:url(../images/icons/product/icon-list.png);}
body.interfeis #subbody .products .product .imgbox a.button em.icon-if-detail{background-image:url(../images/icons/product/icon-detail.png);}
body.interfeis #subbody .products .product .imgbox a.button.added em.icon-if-addtocart{background-image:url(../images/icons/product/icon-success.png);}
body.interfeis #subbody a.added_to_cart{display:none;}
body.interfeis #subbody .star-rating:before{top:10px; left:8px;}
body.interfeis #subbody .star-rating span:before{top:10px; left:8px;}
body.interfeis #subbody .star-rating span{padding-top:4em;}
body.interfeis #subbody .products .product div.star-rating{float:right; padding:0px; margin:1px 0px 0px 0px; width:73px; height:24px; opacity:0;
transition:opacity .3s ease-in-out; 
-moz-transition:opacity .3s ease-in-out; 
-webkit-transition:opacity .3s ease-in-out; 
-o-transition:opacity .3s ease-in-out;}
body.interfeis #subbody .products .product:hover div.star-rating{opacity:1;}
body.interfeis #subbody .products .product .price{margin:10px 0px 0px 0px !important; display:inline-block;line-height:100%; text-align:left; font-size:14px; font-weight:500;}
body.interfeis #subbody .products .product .price .from, body.interfeis #subbody .products .product .price del{font-size:14px;}
body.interfeis .light_rounded .pp_inline{width:760px;}
body.interfeis.mugen div.light_rounded .pp_details{position:static;}
body.interfeis.mugen div.light_rounded .pp_details a.pp_close{top:auto; bottom:0px; right:20px;width: 30px; height: 30px; background: url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat; cursor: pointer;}
body.interfeis.mugen div.light_rounded .pp_details a.pp_close:hover{opacity:0.7}
.quickview-container{width:760px;line-height:22px; }

body.interfeis div.summary .price, body.interfeis div.summary p.price, body.interfeis #content div.summary .price, body.interfeis #content div.summary p.price {
font-size: 24px;
font-weight: 700;
letter-spacing: -2px;
}

body.interfeis #subbody div.product div.images, body.interfeis .quickview-container div.product div.images{
	border-width:1px;
	border-style:solid;
	padding-top:10px;
	width:48%;
	float:left;
	margin-bottom:2em;
}
body.interfeis #subbody div.product div.images div.thumbnails, body.interfeis .quickview-container div.product div.images div.thumbnails{
	margin-top:10px;
	border-width:1px 0px 0px 0px;
	border-style:solid;
	padding:5px 0px;
}
body.interfeis #subbody div.product div.images img, body.interfeis .quickview-container div.product div.images img{
	width:auto;
	margin:0px auto;
	max-width:100%;
	box-shadow:0px 0px;
}
body.interfeis .quickview-container div.product div.summary {
	float: right;
	width: 48%;
	margin-bottom: 2em;
}
body.interfeis .quantity, body.interfeis #content .quantity{
	width: 60px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
	float:left;
}
body.interfeis div.light_rounded #pp_full_res .pp_inline{color:#fff;}
.quickview-container div.product .variations{margin-bottom:1em;}
.quickview-container div.product .variations select{width:100%;}
.quickview-container div.thumbnails a{height:90px; display:block;}
body.interfeis .variations_container{
	padding:20px;
	margin:14px 0px;
	border:1px solid;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
body.interfeis .quantity .plus, body.interfeis .quantity .minus, body.interfeis #content .quantity .plus, body.interfeis #content .quantity .minus {
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	border-style:solid;
	-webkit-box-shadow: 0px 0px;
	-moz-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
}
body.interfeis .quantity .plus, body.interfeis #content .quantity .plus{
	border-width:1px 1px 0px 1px;
}
body.interfeis .quantity .minus, body.interfeis #content .quantity .minus{
	border-width:1px;
}
body.interfeis .quantity .plus:hover, body.interfeis .quantity .minus:hover, body.interfeis #content .quantity .plus:hover, body.interfeis #content .quantity .minus:hover{
	background:#f3f3f3;
}
body.interfeis div.product form.variatons_form.cart .variations, body.interfeis #content div.product form.variations_form.cart .variations {
	margin-bottom: 0px;
}
body.interfeis div.product form.cart table, body.interfeis #content div.product form.cart table, body.interfeis div.product form.cart table td {
	border-width: 0px 0px 0px 0px;
}

body.interfeis .quickview-container .quantity .plus, body.interfeis .quickview-container .quantity .minus{display:none;} 
body.interfeis a.reset_variations{text-align:right; display:block;margin:0px 0px -22px 0px; float:right;}
body.interfeis div.single_variation_wrap{clear:both;}
body.interfeis div.single_variation{padding:0px 0px 14px 0px;}
body.interfeis div.product .single_variation .price, body.interfeis div.product .single_variation p.price, body.interfeis #content div.product .single_variation .price, body.interfeis #content div.product .single_variation p.price,
body.interfeis div.product .stock, body.interfeis #content div.product .stock{font-size:16px; display:inline;padding:0px 10px 0px 0px; letter-spacing:0px;}
body.interfeis div.product .woocommerce-tabs ul.tabs, body.interfeis #content div.product .woocommerce-tabs ul.tabs {padding:0px; margin-bottom:0px;}
body.interfeis div.product .woocommerce-tabs ul.tabs li, body.interfeis #content div.product .woocommerce-tabs ul.tabs li { 
	margin:0px 1px 0px 0px; 
	background:transparent;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	box-shadow:0px 0px 0px 0px #000;
	-webkit-box-shadow:0px 0px 0px 0px #000;
	-moz-box-shadow:0px 0px 0px 0px #000;
	height:31px;
	line-height:normal;
	border-top-width:1px;
	padding-top:2px;
}
body.interfeis #content div.product .woocommerce-tabs ul.tabs li:hover, body.interfeis #content div.product .woocommerce-tabs ul.tabs li.active,
body.interfeis div.product .woocommerce-tabs ul.tabs li:hover, body.interfeis div.product .woocommerce-tabs ul.tabs li.active{padding-top:0px; border-top-width:3px;}
body.interfeis div.product .woocommerce-tabs .panel, body.interfeis #content div.product .woocommerce-tabs .panel {
	padding:20px;
	border-width:0px 1px 1px 1px;
	border-style:solid;
}
.woocommerce .shop_table.cart td.actions{padding-top:23px;}
body.interfeis #customer_details{margin:0px 0px 40px 0px;}
body.interfeis .checkout #shiptobilling label {
font-size: 1em;}
body.interfeis #billing_address_2_field label, body.interfeis #shipping_address_2_field label{display:block !important; visibility:visible;}
body.interfeis h3#order_review_heading{ text-transform:capitalize;}
body.interfeis .checkout #billing_state_field br{display:none;}

body.interfeis table.shop_table td, body.interfeis table.shop_table tfoot td, body.interfeis table.shop_table tfoot th, body.interfeis table.shop_table tfoot td{border-top:0px;}

/*Footer Sidebar */
body.interfeis .footersidebar ul.cart_list li{padding-left:0px; background:none;}
body.interfeis .footersidebar .widget_shopping_cart p.buttons a{
	display: inline-block;
	padding: 10px 0px;
	border: 0px;
	width: 47%;
	margin: 0px 1%;
	box-shadow: 0px 0px;
	-moz-box-shadow: 0px 0px;
	-webkit-box-shadow: 0px 0px;
	text-shadow: 0px 0px;
} 

/* Woocommerce Widgets */
body.interfeis .widget_shopping_cart p.buttons a{padding:9px 10px; margin-bottom:7px;}

body.interfeis .widget_login input{display:block; width:92%;}
body.interfeis .widget_login input.submitbutton{
	font-weight:700; 
	padding:9px 0px; 
	width:98%; 
	border-radius:2px; 
	-moz-border-radius:2px; 
	-webkit-border-radius:2px;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
}

body.interfeis .widget_price_filter .ui-slider .ui-slider-handle{background:#0099cb; border:1px solid #424242;}
body.interfeis .widget_price_filter .ui-slider .ui-slider-range{background-color:#666;}

/******* COLOR *******/
.interfeis .woocommerce-message{border-color:#0099cb;}
.interfeis .woocommerce-message:before{background-color:#0099cb;}

body.interfeis #subbody .products .product .imgbox .curve-down{background-color:#fff;}
body.interfeis #subbody .products .product .imgbox .curve-down .ptext{background-color:#fff;}
body.interfeis .products .product h3{border-color:#e9e9e9;}
body.interfeis .products .product h3 a{color:#666;}
body.interfeis .products .product h3 a:hover{color:#0099cb;}
body.interfeis #subbody .products .product .price{color:#666;}
body.interfeis #subbody .products .product .price span{color:#666 !important;}
body.interfeis #content div.product .price{color:#0099cb;}
body.interfeis .products .product div.star-rating span{color:#0099cb;}
body.interfeis .pthumb a.button, body.interfeis .pthumb a.button:hover{
	background:#ffffff;
	border-color:#e4e4e4;
	color:#01232b !important;
}
body.interfeis #subbody div.summary p.price, body.interfeis .quickview-container div.summary p.price, body.interfeis div.summary span.price, body.interfeis div.summary p.price .from, body.interfeis div.summary p.price .from, body.interfeis div.summary ins span.amount, body.interfeis div.summary .price ins {
color:#0099cb;
}

.quickview-container{color:#666;}
body.interfeis div.product div.images, body.interfeis #content div.product div.images, body.interfeis div.product div.images div.thumbnails, body.interfeis #content div.product div.images div.thumbnails{
	border-color:#e4e4e4;
	background-color:#fff;
}
body.interfeis .variations_container{
	border-color:#e4e4e4;
	background-color:#fafafa;
}
body.interfeis .quantity .plus, body.interfeis .quantity .minus, body.interfeis #content .quantity .plus, body.interfeis #content .quantity .minus {color: #0099cb;border-color:#c7c0c7;background: #ffffff;}

body.interfeis div.product div.single_variation span.price, body.interfeis div.product div.single_variation p.price, body.interfeis #content div.product div.single_variation span.price, body.interfeis #content div.product div.single_variation p.price, body.interfeis div.product div.single_variation .stock, body.interfeis #content div.product div.single_variation .stock{color:#01232b;}

body.interfeis div.product .woocommerce-tabs ul.tabs li, body.interfeis #content div.product .woocommerce-tabs ul.tabs li{ border-top-color:#e4e4e4; background-color:#fafafa;}
body.interfeis #content div.product .woocommerce-tabs ul.tabs li:hover, body.interfeis #content div.product .woocommerce-tabs ul.tabs li.active,
body.interfeis div.product .woocommerce-tabs ul.tabs li:hover, body.interfeis div.product .woocommerce-tabs ul.tabs li.active{ border-top-color:#0099cb; background-color:#fff;}
body.interfeis div.product .woocommerce-tabs .panel, body.interfeis #content div.product .woocommerce-tabs .panel {
	border-color:#e4e4e4; background-color:#fff;
}
body.interfeis #comments .star-rating{height:3em; width:6.4em;}